<div class="top-image">
  <div class="title">
    <h1>Hirottar</h1>
    <p>「ひろったー」は</p>
    <p>ゴミを見つけた人と<br>ゴミ拾いをする人を繋げるサービスです。</p>
    
    <div class="start mt-5">
      <div class="sign_up">
        <small class="info mt-6">初めての方はこちら</small>
        <p><%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-lg mt-2" %></p>
      </div>
      <div class="sign_in">
        <small class="info mt-6">アカウントをお持ちの方はこちら</small>
        <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-lg mt-2" %></p>
      </div>
    </div>    
  </div>
</div>